/* .cohortList{
    display:flex;
    align-items:flex-start;
    justify-content: center;
    font-size:x-large;
    padding: 4px;
} */

li{
  
    list-style-type:none;
    border-bottom: 2px solid black ;
   text-align: center;
   padding: 13px;
}

.cohortList{
    padding:2px;
    display:grid;
    grid-template-columns: .5fr .8fr;
}

.cohortList ul{
    /* border: 3px solid black; */
    text-align: center; 
}

.studentCount{

    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    font-weight: 600;
}