

.cohortL li{
  
    list-style-type:none;
border-bottom: 2px solid black ;
   text-align: center;
   padding: 13px;
   display:flex;
   align-items: center;
   justify-content: center;
   position:relative;
   left: -20px;

}

.cohortList{
    padding:2px;
    display:grid;
    grid-template-columns: .5fr .8fr;
    gap: 50px;
    
}

.cohortList ul{
    text-align: center; 
}

.studentCount{

    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    font-weight: 600;
}

.cohortL{
    border: 2px solid black;
    position: relative;
    top: 62px;
    height: 490px;
    /* position:sticky; */
    
}

.cohortL li:hover{
background-color: rgb(51, 167, 111);
}

.coHeader{

    font-size: 20px;
    font-family: monospace;
   
}