/* .form{
display:flex;
flex-direction: column;

} */

form{
display:flex;
flex-direction: row;
align-items: center;
align-content: center;

}

h3{
    text-align: center;
}

label{
    padding:10px
}

.submitButton{
    border-radius: 45px;
    background-color: burlywood;
}

.submitButton:hover{
    background-color: rgb(85, 245, 136);
}

.renderedNotes{
    text-align: center;
}