.studentList{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.students{
    border: 2px solid mediumaquamarine;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    color: rgb(17, 116, 83)
}

.studentDetail{
 display: flex;
 flex-direction: row;
 border: 2px solid purple
}

.studentDetail ul li{
    border-bottom: none;
}

button{
    border-radius: 45px;
    background-color: rgb(227, 212, 192);
}

button:hover{
    background-color: rgb(62, 215, 139);
}

.extraInfo li{
    list-style-type:none;
    padding: 10px;
}