.studentList{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.students{
    border: 2px solid mediumaquamarine;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    color: rgb(17, 116, 83)
}

.studentDetail{
 display: flex;
 flex-direction: row;
 border: 2px solid purple
}

.studentDetail ul li{
    border-bottom: none;
}